USE [master]
GO
/****** Object:  Database [AracKiralamaDB]    Script Date: 30.04.2019 20:17:15 ******/
CREATE DATABASE [AracKiralamaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AracKiralamaDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AracKiralamaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AracKiralamaDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AracKiralamaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AracKiralamaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AracKiralamaDB]
GO
USE [AracKiralamaDB]
GO
/****** Object:  Table [dbo].[Arac]    Script Date: 30.04.2019 20:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arac](
	[aracID] [int] IDENTITY(1,1) NOT NULL,
	[sirketID] [int] NULL,
	[marka] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[yasSiniri] [int] NULL,
	[ehliyetYasi] [int] NULL,
	[gunlukKm] [int] NULL,
	[KM] [bigint] NULL,
	[airbag] [bit] NULL,
	[bagajHacmi] [int] NULL,
	[koltukSayisi] [int] NULL,
	[gunlukFiyat] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Arac] PRIMARY KEY CLUSTERED 
(
	[aracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Istek]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Istek](
	[istekID] [int] IDENTITY(1,1) NOT NULL,
	[musteriID] [int] NOT NULL,
	[aracID] [int] NOT NULL,
	[baslangicTarihi] [date] NULL,
	[bitisTarihi] [date] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Istek] PRIMARY KEY CLUSTERED 
(
	[istekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İl]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İl](
	[ilID] [int] IDENTITY(1,1) NOT NULL,
	[ilAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_İl] PRIMARY KEY CLUSTERED 
(
	[ilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiralikAraclar]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiralikAraclar](
	[kiralikaraclarID] [int] IDENTITY(1,1) NOT NULL,
	[musteriID] [int] NOT NULL,
	[aracID] [int] NOT NULL,
	[baslangicTarihi] [date] NULL,
	[bitisTarihi] [date] NULL,
	[kiralamaUcreti] [decimal](18, 0) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_KiralikAraclar_1] PRIMARY KEY CLUSTERED 
(
	[kiralikaraclarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[sirketID] [int] NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](20) NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[rolID] [int] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[musteriID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](20) NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[musteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriBilgileri]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriBilgileri](
	[musteriID] [int] NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[cinsiyet] [bit] NULL,
	[telNo] [nvarchar](11) NULL,
	[ilID] [int] NULL,
	[acikAdres] [nvarchar](50) NULL,
	[dogumTarihi] [date] NULL,
	[ehliyetTarihi] [date] NULL,
 CONSTRAINT [PK_MusteriBilgileri] PRIMARY KEY CLUSTERED 
(
	[musteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[rolID] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[rolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sirket]    Script Date: 30.04.2019 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sirket](
	[sirketID] [int] IDENTITY(1,1) NOT NULL,
	[sirketAdi] [nvarchar](50) NULL,
	[aracSayisi] [int] NULL,
	[sirketPuani] [int] NULL,
	[ilID] [int] NULL,
	[acikAdres] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sirket] PRIMARY KEY CLUSTERED 
(
	[sirketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arac]  WITH CHECK ADD  CONSTRAINT [FK_Arac_Sirket] FOREIGN KEY([sirketID])
REFERENCES [dbo].[Sirket] ([sirketID])
GO
ALTER TABLE [dbo].[Arac] CHECK CONSTRAINT [FK_Arac_Sirket]
GO
ALTER TABLE [dbo].[Istek]  WITH CHECK ADD  CONSTRAINT [FK_Istek_Arac] FOREIGN KEY([aracID])
REFERENCES [dbo].[Arac] ([aracID])
GO
ALTER TABLE [dbo].[Istek] CHECK CONSTRAINT [FK_Istek_Arac]
GO
ALTER TABLE [dbo].[Istek]  WITH CHECK ADD  CONSTRAINT [FK_Istek_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[Istek] CHECK CONSTRAINT [FK_Istek_Musteri]
GO
ALTER TABLE [dbo].[KiralikAraclar]  WITH CHECK ADD  CONSTRAINT [FK_KiralikAraclar_Arac] FOREIGN KEY([aracID])
REFERENCES [dbo].[Arac] ([aracID])
GO
ALTER TABLE [dbo].[KiralikAraclar] CHECK CONSTRAINT [FK_KiralikAraclar_Arac]
GO
ALTER TABLE [dbo].[KiralikAraclar]  WITH CHECK ADD  CONSTRAINT [FK_KiralikAraclar_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[KiralikAraclar] CHECK CONSTRAINT [FK_KiralikAraclar_Musteri]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Rol] FOREIGN KEY([rolID])
REFERENCES [dbo].[Rol] ([rolID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Rol]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Sirket] FOREIGN KEY([sirketID])
REFERENCES [dbo].[Sirket] ([sirketID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Sirket]
GO
ALTER TABLE [dbo].[MusteriBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriBilgileri_İl] FOREIGN KEY([ilID])
REFERENCES [dbo].[İl] ([ilID])
GO
ALTER TABLE [dbo].[MusteriBilgileri] CHECK CONSTRAINT [FK_MusteriBilgileri_İl]
GO
ALTER TABLE [dbo].[MusteriBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriBilgileri_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[MusteriBilgileri] CHECK CONSTRAINT [FK_MusteriBilgileri_Musteri]
GO
ALTER TABLE [dbo].[Sirket]  WITH CHECK ADD  CONSTRAINT [FK_Sirket_İl] FOREIGN KEY([ilID])
REFERENCES [dbo].[İl] ([ilID])
GO
ALTER TABLE [dbo].[Sirket] CHECK CONSTRAINT [FK_Sirket_İl]
GO
USE [master]
GO
