<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   @Html.Partial("_Navbar")

    <div class="container">
        @RenderBody()
      </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>