<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Rent A Car</a>
        </div>
        <ul class="nav navbar-nav">
            @if (Session["rolId"]!=null)
            {
                if (Session["rolId"].ToString() == "2")
                {
                    <li class="active"><a href="/AllCars/Index">Tüm Araçlar</a></li>
                }
 
             }
             @if (Session["rolId"] != null)
             {
                 <li class="dropdown">
                <a class="dropdown-toggle"  href="/AracCalisan/Index">
                    Araç Kirala
                </a>
            </li>
             }
             else
             {
                 <li class="dropdown">
                <a class="dropdown-toggle"  href="/Arac/Index">
                    Araç Kirala
                </a>
            </li>
             }
            
            @if (Session["rolId"]!=null)
            {   
                <li><a href="/KiralamaTalep/">Kiralama Talepleri</a></li>
            }
            
             @if (Session["rolId"]!=null)
             {
                 if (Session["rolId"].ToString() == "2")
                 {
                     <li><a href="/Calisanlar/">Çalışanlar</a></li>
                 }
             
             }

              @if (Session["rolId"]!=null)
             {
                 
                     <li><a href="/KiralanmisAraclar/">Kiralama Geçmişi</a></li>
                 
              }
            @if (Session["rolId"] != null)
            {
                <li><a href="~/Security/Logout">Çıkış Yap</a></li>

            }
            else
            {
                <li><a href="~/Security/Login">Giriş Yap</a></li>
            }
       </ul>
    </div>
</nav>
