@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">

        <form action="/AracCalisan/GetCar" method="post">
            <div class="form-group">
                <label>Başlangıç Tarihi</label>
                <input type="date" name="baslangic" class="form-control" style="width:200px">
            </div>

            <div class="form-group">
                <label>Bitiş Tarihi</label>
                <input type="date" name="bitis" class="form-control" style="width:200px">
            </div>

            <button type="submit" class="btn btn-default">Araçları Listele</button>
        </form>



    </div>
</body>